In [2]:
import quandl
import pandas as pd
import numpy as np
import time
from matplotlib import pyplot as plt 
import csv

In [19]:
test_dataframes = {}
train_dataframes = {}
test_Open = {}
quandl.ApiConfig.api_key = 'NKL13i-RzgYty_HQNy7_'
data = ['BCHARTS/KRAKENUSD']
index = 1
for i in range(index):
    train_dataframes[i]=pd.DataFrame(quandl.get(data[i], start_date = "2016-05-20'", end_date = "2017-12-31"))
for j in range(index):
    test_dataframes[j]=pd.DataFrame(quandl.get(data[j], start_date = "'2017-01-01", end_date = "2018-05-01"))
test_merged = test_dataframes[0]
test_Open = test_merged['Open']
test_Open.replace(0, np.nan, inplace=True)
test_Open = test_Open.mean(axis=0) 
btc_test_dataframes = test_dataframes[0]
btc_test_Closed = btc_test_dataframes['Close']
btc_test_Closed.replace(0, np.nan, inplace=True)
btc_test_Closed = btc_test_Closed.mean(axis=0) 
btc_test_dataframes['Avg Close'] = btc_test_Closed
btc_test_dataframes['Avg Open'] = test_Open 
btc_test_dataframes.to_csv('out.csv',index=False)
test_merged

,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price,Avg Close,Avg Open
Date,,,,,,,,,
2017-01-01,968.750,1010.000,961.37,996.121,1478.190662,1.465463e+06,991.389964,5437.992747,5422.1118
2017-01-02,999.497,1034.931,997.02,1017.791,2307.095318,2.344982e+06,1016.421934,5437.992747,5422.1118
2017-01-03,1019.997,1039.838,1010.00,1038.250,1669.605756,1.707735e+06,1022.837037,5437.992747,5422.1118
2017-01-04,1039.309,1150.000,997.23,1133.219,5566.104358,6.092681e+06,1094.604202,5437.992747,5422.1118
2017-01-05,1133.219,1156.900,879.01,1005.990,8500.093267,8.598197e+06,1011.541522,5437.992747,5422.1118
...,...,...,...,...,...,...,...,...,...
2018-04-27,9281.700,9381.900,8891.80,8917.800,6206.900343,5.706219e+07,9193.347600,5437.992747,5422.1118
2018-04-28,8917.800,9437.200,8865.00,9339.200,4802.208501,4.445686e+07,9257.586021,5437.992747,5422.1118
2018-04-29,9328.100,9538.000,9165.00,9411.200,3800.973438,3.560885e+07,9368.349997,5437.992747,5422.1118
2018-04-30,9407.400,9453.900,9110.70,9243.200,4135.395939,3.836001e+07,9276.019063,5437.992747,5422.1118
2018-05-01,9246.500,9246.500,8830.00,9081.300,5955.922107,5.356980e+07,8994.375946,5437.992747,5422.1118